<div class="container">
  <div class="subtitle"><%= @user.name %>・・・My Calender・・・</div>
  <%# カレンダー表示 %>
    <div class="col-md-8">
  <%= month_calendar events: @events do |date, events| %>
    <%= date.day %>
    <% events.each do |event| %>
      <div>
        <%= link_to event.location.place.truncate(13), location_event_path(event_id: event.id, location_id: event.location.id, order_sort: 1) %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>