#registrations-new {
  width: 100%;
  padding: 5px;
}

#sessions-new {
  width: 100%;
  padding: 5px;
}

.form {
  margin: 100px 300px;
  border: solid 1px;
  border-color: darkgray;
  border-radius: 5px;
  padding: 30px 50px;
}

.form-title {
  font-size: 20px;
  margin: 10px;
}

.form h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.button {
  margin-top: 20px;
  display: block;
  padding: 3px;
}

// マイページの設定

.subtitle {
  font-size: 20px;
  padding-left: 50px;
}

.container h2 {
  padding-left: 50px;
}