<div class="location">
  <div class="upper-location">
    <div class="location-user">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= location.user.name %>
    </div>
    <div class="location-date">
      <!-- 投稿した時刻を出力する -->
      <%= l location.created_at %>
    </div>
  </div>
  <div class="lower-location">
    <div class="message-content">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= location.place %>
    </div>
    <%= image_tag location.image.variant(resize: '200x200'), class: 'location-image' if message.image.attached? %>
  </div>