<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>初心者向けホームページテンプレート tp_beginner5</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="ここにサイト説明を入れます">
  <meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
  <link rel="stylesheet" href="css/style.css">
  <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
  <div id="container">
      <%= image_tag "mainimg.png", class:"mainimg" %>
    <div id="contents">
      <section id="new">
        <h2>出店場所一覧</h2>
        <ul class="location-lists">
          <%# 投稿がある場合は、eachメゾッドで一覧表示する %>
          <% @locations.each do |location| %>
            <li class="location-list">
                <%= link_to new_location_path(location) do %>
              <div class="location-image-content">
                <%= image_tag location.image.variant(resize: '200x200'), class: 'location-image' if location.image.attached? %>
              <div class="location-place">
                <%= location.place %>
              </div>
              <% end %>
          <% end %>
        </ul>
      </section>
    </div>
    <!--/contents-->
    <footer> <small>Copyright&copy; <a href="index.html">SAMPLE SITE</a> All Rights Reserved.</small> <span class="pr">《<a href="https://template-party.com/" target="_blank">Web Design:Template-Party</a>》</span> </footer>
  </div>
  <!--/container-->
</body>
</html>